---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
---

<Layout title="Daniel Plasencia">
	<main class="">
		<div class="items">

		</div>
		<div class="w-auto mt-10 ml-[22%] mr-[22%]">
			<div class="flex [80%] flex-col items-center justify-center">
				<Header/>
				<Experiencia/>
				<Proyectos/>
			</div>
			
		</div>
			

	</main>
</Layout>
