---
import ExperienceItem from "./Experienciaitem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Principal Frontend Engineer",
    company: "Horizonte Medic",
    description:
      "Responsable del sistema web usado por la empresa para gestionar y administrar datos y registros medicos de sus pacientes. Sistema que se ha extendido para empresas de otros rubros con el fin de gestionar su personal y archivos medicos. Integración continua e implementacion en mas de 6 empresas diferentes.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Junio 2023 - Enero 2024",
    title: "Principal Frontend Engineer",
    company: "Tigal Group",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
  {
    date: "Junio 2023 - Enero 2024",
    title: "Principal Frontend Engineer",
    company: "Tigal Group",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
];
---

<div
  id="experiencia"
  class="w-full text-center items-start flex flex-col mt-10"
>
  <div class="flex flex-col items-start mb-10">
    <span class="text-lg text-[#ebeb33] font-bold">TRAYECTORIA</span>
    <h1 class="font-bold text-4xl">Experiencia Laboral</h1>
  </div>
  <div class="w-full relative">
    {/* Connecting Line */}
    <div
      class="absolute left-1/2 transform -translate-x-1/2 h-full w-0.5 bg-[#DAD91A]/20"
    >
    </div>

    <ol class="grid grid-cols-1 gap-12 relative">
      {
        EXPERIENCE.map((experience) => (
          <li>
            <ExperienceItem {...experience} />
          </li>
        ))
      }
    </ol>
  </div>
</div>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-8");
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1,
      rootMargin: "0px 0px -50px 0px",
    },
  );

  document.querySelectorAll(".experience-card").forEach((card) => {
    observer.observe(card);
  });
</script>
