---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome"
import { faBriefcase } from "@fortawesome/free-solid-svg-icons"
import ExperienceItem from "./Experienciaitem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Principal Frontend Engineer",
    company: "Horizonte Medic",
    description:
      "Responsable del sistema web usado por la empresa para gestionar y administrar datos y registros medicos de sus pacientes. Sistema que se ha extendido para empresas de otros rubros con el fin de gestionar su personal y archivos medicos. Integración continua e implementacion en mas de 6 empresas diferentes.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Junio 2023 - Enero 2024",
    title: "Principal Frontend Engineer",
    company: "Tigal Group",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },{
    date: "Junio 2023 - Enero 2024",
    title: "Principal Frontend Engineer",
    company: "Tigal Group",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<div class="w-full text-center items-start flex flex-col mt-10">
    <h1 class="font-bold text-4xl text-center"><i class="fa-solid fa-briefcase"></i>  Experiencia Laboral</h1>
    <div class="mt-14">
        <ol>
            {
                EXPERIENCE.map((experience) => (
                    <li class="">
                    <ExperienceItem {...experience} />
                    </li>
                ))
            }
        </ol>
    </div>
</div> 