@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1200px 0;
  }

  /* Matches background-size width */
}

.animate-slide {
  animation: slide 60s linear infinite;
  background-size: 1200px 100%;
  /* Fixed width for consistent speed */
  background-repeat: repeat-x;
}