---
import Proyectositem from "./Proyectositem.jsx"
---

<div class="w-full text-center items-start flex flex-col mt-12">
    <h1 class="font-bold text-4xl text-center"><i class="fa-solid fa-code"></i>  Proyectos</h1>
    <div class="mt-28 w-full">
        <Proyectositem client:only="react"/>
    </div>
</div> 